<div class="w-full">
 
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Cities</h1>
    <%= link_to "New city", new_city_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="cities" class="min-w-full">
    <ul>
    <% @cities.each do |city| %>
      <li>
        <%= link_to city.name, city_path(city) %>
      </li>
    <% end %>
    </ul>
  </div>
</div>
